{% extends 'home/bootstrap.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
    <style>
        body, html, .row-offcanvas {
            height: 100%;
        }

        body {
            padding-top: 50px;
            background: #F1F1F1;
        }

        #sidebar {
            width: inherit;
            min-width: 220px;
            max-width: 220px;
            background-color: #F1F1F1;
            float: left;
            height: 100%;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
        }

        #main {
            height: 100%;
            overflow: auto;
        }

        /*Media query for small screen toggle*/
        @media screen and (max-width: 768px) {
            .row-offcanvas {
                position: relative;
                -webkit-transition: all 0.25s ease-out;
                -moz-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out;
                width: calc(100% + 220px);
            }

            .row-offcanvas-left {
                left: -220px;
            }

            .row-offcanvas-left.active {
                left: 0;
            }

            .sidebar-offcanvas {
                position: absolute;
                top: 0;
            }
        }

        /*Media query for small screen toggle ENDS*/

        /*Extra style for main contents div*/
        .back {
            background: #ffffff;
            height: 100%;
        }

        .nav-stacked {
            padding-top: 5px;
        }

    </style>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }
    </script>
{% endblock %}
{% block navbar_right %}
    <form action="{% url 'home:logout' %}" method="post">
        {% csrf_token %}
        <div style="margin-top: 7px;margin-right: 5px;float: right">
            <button type="submit" name="logout" value="logout" onclick="signOut()">Logout</button>
        </div>
    </form>

{% endblock %}
{% block body %}


    <!--Body with side navbar and main content-->

    <div class="row-offcanvas row-offcanvas-left">
        <!--Sidebar navigation-->
        <div id="sidebar" class="sidebar-offcanvas">
            <div class="col-md-12 back">
                <ul class="nav nav-pills nav-stacked">
                    <li><a class="selected" href="#">Dashboard</a></li>

                    {#                    {% if number_of_pool > 1 %}#}
                    {#                        <li><a href="{% url 'home:pool_schedule' pool_number=0 %}">Pool</a></li>#}
                    {#                    {% else %}#}
                    {#                        <li><a href="{% url 'home:schedule' %}">Schedule</a></li>#}
                    {#                        <li><a href="#">Points Table</a></li>#}
                    {#                    {% endif %}#}

                    <li><a href="#">Result</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">F.A.Q</a></li>
                </ul>
            </div>
        </div>
        <!--Main content-->
        <div id="main">
            <div class="col-md-8">
                <!--Toggle for sidebar nav-->
                {% if tournament %}
                    {% for each in tournament %}
                        <a href="{% url 'home:pool_schedule' forloop.counter0 0 %}">Tournament {{ forloop.counter }}</a>
                    {% endfor %}
                {% endif %}
                <p class="visible-xs">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </button>
                </p>


            </div>

        </div>
    </div>


{% endblock %}

