{% extends 'home/bootstrap.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
    <style>
        body, html, .row-offcanvas {
            height: 100%;
        }

        body {
            padding-top: 50px;
            background: #F1F1F1;
        }

        #sidebar {
            width: inherit;
            min-width: 220px;
            max-width: 220px;
            background-color: #F1F1F1;
            float: left;
            height: 100%;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
        }

        #main {
            height: 100%;
            overflow: auto;
        }

        /*Media query for small screen toggle*/
        @media screen and (max-width: 768px) {
            .row-offcanvas {
                position: relative;
                -webkit-transition: all 0.25s ease-out;
                -moz-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out;
                width: calc(100% + 220px);
            }

            .row-offcanvas-left {
                left: -220px;
            }

            .row-offcanvas-left.active {
                left: 0;
            }

            .sidebar-offcanvas {
                position: absolute;
                top: 0;
            }
        }

        /*Media query for small screen toggle ENDS*/

        /*Extra style for main contents div*/
        .back {
            background: #ffffff;
            height: 100%;
        }

        .nav-stacked {
            padding-top: 5px;
        }

    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}
{% block navbar_right %}
    <form action="{% url 'home:home_page' %}" method="post">
    <input value="{{ goto }}" name="goto" hidden>
        {% csrf_token %}
        <div style="margin-top: 7px;margin-right: 5px;float: right">
            <input type="text" placeholder=" Username" name="uname" required>
            <input type="password" placeholder=" Password" name="pass" required>
            <button type="submit" name="login" value="login">Login</button>
        </div>
    </form>

{% endblock %}
{% block body %}


    <!--Body with side navbar and main content-->

    {#    <div class="row-offcanvas row-offcanvas-left">#}
    <!--Sidebar navigation-->
    <!--<div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12 back">
            <ul class="nav nav-pills nav-stacked">
                <li><a class="selected" href="#">Schedule</a></li>
                <li><a href="#">Points Table</a></li>
                <li><a href="#">Result</a></li>
                <li><a href="#">Section</a></li>
                <li><a href="#">F.A.Q</a></li>
            </ul>
        </div>
    </div>-->
    <!--Main content-->
    <div id="main">
        <div class="col-md-8">
            <!--Toggle for sidebar nav-->


            <form action="{% url 'home:register' %}" method="post">
            <input value="{{ goto }}" name="goto" hidden>
            {{ goto }}
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field| add_class:"form-control" | attr:"required:true" }}
                    </div>
                {% endfor %}

                <div class="g-recaptcha" data-sitekey="6LfZjCkUAAAAALhxb7Jg80EDXCriyrn0fMdG3EAc"></div>


                <button type="submit" class="btn btn-primary" name="submit" value="submit">Register</button>


            </form>

            <br>
            <p><strong>-- OR --</strong></p>
            <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>

    </div>
    {#    </div>#}

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            {#            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.#}
            {#            console.log('Name: ' + profile.getName());#}
            {#            console.log('Image URL: ' + profile.getImageUrl());#}
            {#            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.#}
            var id = profile.getId();
            var name = profile.getName();
            var image = profile.getImageUrl();
            var email = profile.getEmail();
            $.ajax({
                type: "POST",
                url: {% url 'home:google_sign_in' %},
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': id,
                    'name': name,
                    'image': image,
                    'email': email
                },
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }
    </script>


{% endblock %}

