{% extends 'home/bootstrap.html' %}
{% block body %}
    <form action="{% url 'home:register_team' %}" method="POST" enctype="multipart/form-data">
        <input value="{{ tournament_id }}" name="tournament_id" hidden>
        {% csrf_token %}

        <div class="container-fluid">

            <div class="main-form container form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row form-element">
                            <label class="control-label col-md-4">{{ team_form.team_name.label_tag }}</label>
                            <div class="col-md-8">{{ team_form.team_name }}</div>
                        </div>
                        <div class="row form-element">
                            <label class="control-label col-md-4">{{ team_form.tournament.label_tag }}</label>
                            <div class="col-md-8">{{ team_form.tournament.value }}</div>
                        </div>
                        <div class="row form-element">
                            <label class="control-label col-md-4">{{ team_form.login.label_tag }}</label>
                            <div class="col-md-8">{{ team_form.login.value }}</div>
                        </div>

                        <input type="submit" name="register_team" value="Register Team">
                    </div>
                </div>
            </div>
        </div>
        <table class="table" id="player_table">
            <tr>
                <th>Player Name</th>
                <th>Player Number</th>
                <th>Player Email</th>
            </tr>
            {% for i in no_of_players %}
            <tr>
                <td><input type="text" name="player_name{{ i|add:1 }}" placeholder="Player Name" id="player_name{{ i|add:1 }}" value="name{{ i }}"></td>
                <td><input type="number" name="player_number{{ i|add:1 }}" placeholder="Player Number" id="player_number{{ i|add:1 }}" value="{{ i }}"></td>
                <td><input type="email" name="player_email{{ i|add:1 }}" placeholder="Player Email" id="player_email{{ i|add:1 }}" value="email{{ i }}@s.com"></td>
            </tr>
            {% endfor %}
        </table>

    </form>

{% endblock body %}