{% extends 'home/bootstrap.html' %}
{% load static %}
{% load extra %}
{% block head %}
    <title>Match Scheduler</title>

    <style>
        .navbar {
            background: #ce0010;
        }

        .col-sm-6 {
            padding: 20px;
        }

        .col-sm-6 {
            padding: 20px;
        }

        .card {
            margin: 10px;
        }

        .card:nth-child(2n) .card-header {
            background: #5cb85c;
        }

        .card .card-header {
            background: #0275d8;
        }

        body {
            padding-top: 65px;
        }

        .fixed-side-left {
            left: 0;
        }

        .navbar-light .navbar-nav .nav-link {
            color: white;
        }

        .navbar-light .navbar-nav .nav-link:hover {
            background-color: #ee0010;
        }

        .row .myCard:first-child {
            border: none !important;
        }

        .modal-open {
            overflow-y: scroll;
            padding-right: 0px !important;
        }

        .btn-danger {
            background: #ce0010;
        }




        .navbar-fixed-side .navbar-toggle {
            float: none;
            margin: 0;
        }

        .navbar-fixed-side .nav > li > a {
            width: 100%;
            padding: 5px;
        }

        .navbar-fixed-side .dropdown-menu > li > a {
            padding: 5px;
        }

        .navbar-fixed-side .dropdown-header {
            padding: 5px;
        }

        .navbar-fixed-side .navbar-nav {
            margin: 0;
        }

        .navbar-fixed-side .navbar-nav > li {
            float: none;
        }

        .navbar-fixed-side .navbar-nav > li > a {
            padding: 5px;
            line-height: 20px;
        }

        .navbar-fixed-side .navbar-nav .open .dropdown-menu > li > a,
        .navbar-fixed-side .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 3px 5px 3px 15px;
        }

        .navbar-fixed-side .container {
            width: 100%;
            padding: 0;
        }

        .navbar-fixed-side .navbar-header {
            float: none;
            margin: 0;
        }

        .navbar-fixed-side .navbar-collapse {
            padding: 0 2px;
        }

        .navbar-fixed-side .container .navbar-collapse {
            margin: 0;
        }

        .navbar-fixed-side .container .navbar-brand {
            margin: 0;
        }

        .navbar-fixed-side .navbar-brand {
            float: none;
            height: 100%;
            padding: 5px 3px;
            font-size: 18px;
            line-height: 20px;
        </style>
{% endblock %}
{% block body %}

    <nav class="navbar fixed-top navbar-toggleable-md  navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{% static 'home/images/logo.png' %}" width="90" height="30"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav  mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-danger" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div class="row">
        <div class="col-sm-2">
            <div class="my-left-nav" style="position:fixed;background-color: #eaeaea;
            height: 100%;
            width: 14%;
            margin-top: 0%; ">
                <button type="button" class="btn btn-danger" style="width: 100%">Points Table</button>
                <button type="button" class="btn btn-danger" style="width: 100%">Danger</button>
            </div>
        </div>
        <div class="col-sm-10">
            {% for i in number_of_days %}

                <div class="card text-center">
                    <div class="card-header">
                        Day {{ i|add:"1" }}
                    </div>
                    <div class="card-block" style="padding-top: 0;padding-bottom: 0;">

                        <div class="row">
                            {% for j in matches_per_day_list %}
                                {% test list1 i j matches_per_day as myFlag %}
                                {% if myFlag %}
                                    <div class="col-sm-{% widthratio 12 matches_per_day 1 %} myCard" data-toggle="modal"
                                         data-target="#exampleModalLong"
                                         onclick="contentDecider('{% lookup list1 i j matches_per_day %}','{% lookup list2 i j matches_per_day %}')"
                                         style="padding: 20px; border-left: 1px solid #999 ;width:100%;height:inherit;">
                                        <div class="">{% lookup list1 i j matches_per_day %} </div>
                                        <strong>V/s</strong>
                                        <div class="">{% lookup list2 i j matches_per_day %}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Select the winner</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <input id="radioTeamA" type="radio" name="winner">
                        <label id="opponent1" for="radioTeamA"></label><br>
                        <strong>V/S</strong><br>
                        <input id="radioTeamB" type="radio" name="winner">
                        <label id="opponent2" for="radioTeamB"></label>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Save Winnner"></input>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>



    <script>
        function contentDecider(teamA, teamB) {
            var opponent1 = document.getElementById("opponent1");
            opponent1.innerHTML = teamA;
            var opponent2 = document.getElementById("opponent2");
            opponent2.innerHTML = teamB;
        }
    </script>
{% endblock %}